{% extends 'home/home.html' %}

{% block dash %}

    <div class="container my-5">

        <div class="row">
            <div class="col-lg-4">
                <h3>Search By Date</h3>
                <hr>
                <form id="search-form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input name="from_date" type="date" class="form-control" placeholder="From ">
                    </div>
                    <div class="form-group">
                        <input name="to_date" type="date" class="form-control" placeholder="Till">
                    </div>
                    <button class="btn btn-secondary" type="submit">search</button>
                </form>
            </div>

            <div class="col-lg-8">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Total</th>
                        <th scope="col">Avg</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#                    <tr>#}
                    {#                        <th scope="row">1</th>#}
                    {#                        <td>Mark</td>#}
                    {#                        <td>Otto</td>#}
                    {#                        <td>@mdo</td>#}
                    {#                    </tr>#}

                    </tbody>
                </table>

            </div>

            <div class="col-lg-6 mt-5">
                <canvas id="myChart" width="500px" height="300px"></canvas>
            </div>

            <div class="col-lg-6 mt-5">

                <canvas id="pieChart" width="500px" height="250px"></canvas>
            </div>


        </div>

    </div>

{% endblock %}

{% block js %}
    <script>

        var ctx = document.getElementById('myChart').getContext('2d');
        var pieChart = document.getElementById('pieChart').getContext('2d');


        $(document).ready(function () {

            let expense_income_table = $('.table');
            expense_income_table.css('opacity', 0)

            $('#search-form').submit(function (ev) {

                ev.preventDefault();
                const form_data = $(this).serializeArray();

                const fromDate = form_data[1]['value'];
                const toDate = form_data[2]['value'];
                data = {
                    'from_date': fromDate,
                    'to_date': toDate,
                }

                if (fromDate === "" && toDate === "") {
                    alert("nothing Entered")
                    return
                }
                if (fromDate === "" || toDate === "") {
                    alert("you need to fill both of them");
                    return;
                }
                filter_by_date(data);


            });


            function filter_by_date(data) {
                $.ajax({
                    url: '/home/graph/analyze',
                    method: 'post',
                    data: data,
                    success: (res) => {


                        expense_income_table.css('opacity', 1);
                        expense_income_table.find('tbody').html("")

                        var expense_x = []
                        var expense_y = []
                        var expense_by_category_x = []
                        var expense_by_category_y = []
                        var colorExpense = []
                        var dynamicColors = function () {
                            var r = Math.floor(Math.random() * 255);
                            var g = Math.floor(Math.random() * 255);
                            var b = Math.floor(Math.random() * 255);
                            return "rgb(" + r + "," + g + "," + b + ")";
                        };


                        for (let i = 0; i < res.expense.length; i++) {
                            const item = res.expense[i];
                            expense_x.push(moment(item.created_on).format('MMM Do YY'))
                            expense_y.push(item.total)


                        }

                        for (let i = 0; i < res.expense_category.length; i++) {
                            const item = res.expense_category[i];
                            expense_by_category_x.push(item.category__name)
                            expense_by_category_y.push(item.total)
                            colorExpense.push(dynamicColors())
                        }

                        var income_x = []
                        var income_y = []
                        for (let i = 0; i < res.income.length; i++) {
                            const item = res.income[i];
                            income_x.push(moment(item.created_on).format('MMM Do YY'))
                            income_y.push(item.total)
                        }



                        let expense_total = 0;
                        let income_total = 0;
                        for (let i = 0; i < expense_y.length; i++) {
                            expense_total += expense_y[i]

                        }
                        console.log(expense_total)

                        for (let i = 0; i < income_y.length; i++) {
                            income_total += income_y[i]

                        }
                        console.log(income_total)

                        let total = income_total -expense_total

                        let avg_expense  = 0
                        if (expense_y.length > 0 ) {
                         avg_expense = expense_total/expense_y.length;

                        }

                        let avg_income  = 0
                        if (income_y.length > 0 ) {
                         avg_income = income_total/income_y.length;

                        }

                         var first_row =`<tr >  <td>1</td> <td>Income</td> <td>&#8377; ${income_total} </td> <td>&#8377; ${avg_expense.toFixed(2)}</td>  </tr>`
                         var second_row =`<tr >  <td>2</td> <td>Expense</td> <td>&#8377; ${expense_total} </td> <td>&#8377; ${avg_income.toFixed(2)}</td>  </tr>`
                         var third_row =`<tr >  <td></td> <td></td> <td>&#8377; <strong> ${total} <strong> </td>  <td></td> </tr>`
                        expense_income_table.find('tbody').append(first_row)
                        expense_income_table.find('tbody').append(second_row)
                        expense_income_table.find('tbody').append(third_row)
                        {#expense_income_table.find('tbody').append(fourth_row)#}

                        createLineChart(expense_x, expense_y, income_x, income_y)
                        createPieChart(expense_by_category_x, expense_by_category_y, colorExpense)

                    },
                    failure: (error) => console.log(error)
                });
            }


            function createLineChart(expense_month, expense_amount, income_month, income_amount) {
                var myChart = new Chart(ctx, {

                    type: 'line',
                    data: {
                        labels: income_month,
                        datasets: [{

                            label: 'Income ',
                            data: income_amount,
                            backgroundColor: [
                                'rgba(10, 250, 10, 0.0)',


                            ],
                            borderColor: [
                                'rgba(10, 250, 10, 1)',
                            ],
                            borderWidth: 2

                        }, {
                            label: 'Expense',
                            type: "line",
                            data: expense_amount,
                            backgroundColor: [
                                'rgba(250, 10, 10, 0.0)',

                            ],
                            borderColor: [
                                'rgba(255, 10, 10, 1)',
                            ],
                            borderWidth: 2
                        }],
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        layout: {
                            padding: {
                                left: 0,
                                right: 0,
                                top: 0,
                                bottom: 0
                            }
                        }
                    }
                });
            }

            function createPieChart(expense_month, expense_amount, colorExpense) {
                var myChart = new Chart(pieChart, {

                    type: 'pie',
                    data: {
                        labels: expense_month,
                        datasets: [{

                            label: 'Expense ',
                            data: expense_amount,
                            backgroundColor: colorExpense,
                            borderColor: [
                                'rgba(10, 250, 10, 1)',
                            ],
                            borderWidth: 2

                        },],
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        layout: {
                            padding: {
                                left: 0,
                                right: 0,
                                top: 0,
                                bottom: 0
                            }
                        }
                    }
                });
            }


        });


    </script>
{% endblock %}

